<div class="container mt-5">
    <h2>Itens no Carrinho</h2>
    <div class="table-responsive">  
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Preço Total</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of carrinhoService.getItensCarrinhoObservable() | async">
                    <td>{{ item.produto.nome }}</td>
                    <td>{{ item.quantidade }}</td>
                    <td>R$ {{ item.produto.preco * item.quantidade | number:'1.2-2' }}</td>
                    <td>
                        <button class="btn btn-danger" (click)="carrinhoService.removerItem(item.produto)">Remover</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="total">
        <p>Total: R$ {{ carrinhoService.calcularTotal() | number:'1.2-2' }}</p>
    </div>
    <button class="btn btn-warning" (click)="limparCarrinho()">Limpar Carrinho</button>
    
    <div class="mt-3"></div>
    
    <!-- Botão para compra finalizada com margem superior -->
    <button class="btn btn-success mt-3" (click)="compraFinalizada()">Compra Finalizada</button>
    
    <div class="mt-3"></div>
    
    <div class="alert alert-success" role="alert" *ngIf="compraFinalizadaMsgVisible">
        Compra finalizada com sucesso!
    </div>
</div>
