<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="detalhe-produto.component.css">
    <title>Detalhes do Produto</title>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-5">
                <img [src]="produto?.imagemUrl" alt="{{ produto?.nome }}" class="img-fluid">
            </div>  
            <div class="col-md-7">
                <h2 class="font-weight-bold">{{ produto?.nome }}</h2>
                <p>{{ produto?.descricao }}</p>
                <p class="font-weight-bold font-size-large">Preço: R$ {{ produto?.preco?.toFixed(2) }}</p>
                <a class="btn btn-success" (click)="adicionarAoCarrinho()">
                    <i class="fas fa-shopping-cart"></i> Adicionar ao Carrinho
                  </a>
                <p></p>
                <a href="/vitrine"> Voltar
                  </a>
                  <div *ngIf="produtoAdicionadoAoCarrinho" class="alert alert-success mt-3">
                    Produto adicionado ao carrinho!
                  </div>
            </div>
        </div>
    </div>
</body>
</html>
