<div class="container">
    <div class="row flex-container">
        <div class="col-md-6 produto-card" *ngFor="let produto of produtos">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <img [src]="produto.imagemUrl" alt="{{ produto.nome }}" class="card-img-top img-fluid produto-imagem">
                    <h2 class="card-title mt-3">{{ produto.nome }}</h2>
                    <p class="card-text font-weight-bold font-size-large">Preço: R$ {{ produto.preco.toFixed(2) }}</p>
                    <a (click)="verDetalhes(produto.id)" class="btn btn-primary">Ver Detalhes</a> <!-- Ignorar erro -->
                </div>
            </div>
        </div>
    </div>
    <div class="center-button">
        <a routerLink="/carrinho" class="btn btn-primary">Ir para o Carrinho</a>
    </div>
</div>
