body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.logo {
  margin-left: 20px;
}

.search-box {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.search-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.search-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.user-icon {
  font-size: 24px;
  margin-right: 20px;
}


.user-icon::before {
  content: "\f007"; 
  font-family: FontAwesome; 
}
